app-id: org.skytemple.Randomizer
runtime: org.gnome.Platform
runtime-version: '46'
sdk: org.gnome.Sdk
command: run.sh
finish-args:
  - "--share=network"
  - "--socket=fallback-x11"
  - "--socket=wayland"
  - "--share=ipc"
sdk-extensions:
  - org.freedesktop.Sdk.Extension.rust-stable
cleanup:
  - /app/whl_tmp
modules:

  - name: armips
    buildsystem: cmake-ninja
    no-make-install: true
    config-opts:
      - -DCMAKE_BUILD_TYPE=Release
    post-install:
      - install -Dm755 armips /app/bin/armips
    sources:
      - type: archive
        url: https://github.com/Kingcom/armips/archive/v0.11.0.tar.gz
        sha256: c94e29dfda3bdf853590d825562b9c73a3d8e8e995555e021c6b2a6451572681
      - type: patch
        path: patches/armips.patch

  # This needs to be done separately due to some Cargo packages required.
  - name: python3-skytemple-rust
    buildsystem: simple
    build-commands:
      - . /usr/lib/sdk/rust-stable/enable.sh && CARGO_NET_OFFLINE=1 pip3 install --verbose --exists-action=i --no-index --find-links="file://${PWD}" --prefix=${FLATPAK_DEST} "./skytemple-rust"
    build-options:
      env:
        CARGO_HOME: /run/build/python3-skytemple-rust/cargo
    sources:
      - cargo-sources-skytemple-rust.json
      {{ "setuptools"|pip_add_group }}
      {{ "setuptools-rust"|pip_add_group }}
      {{ "flit"|pip_add_group }}
      - {{ skytemple_rust_ref }}
      - type: file
        url: https://files.pythonhosted.org/packages/2e/49/565350c6fab3f5a3e2c46633290117060e70e2501544cdf3bde1d1d5d0fe/range_typed_integers-1.0.1-py3-none-any.whl
        sha256: 35d39a41642503c5c5117e26798713f081b1beece1b2afd8f1ba70c8d90f63c5

  # This needs to be done separately due to some patches and just overall complexity.
  - name: python3-explorerscript
    buildsystem: simple
    build-commands:
      - pip3 install --verbose --exists-action=i --no-index --find-links="file://${PWD}" --prefix=${FLATPAK_DEST} "./explorerscript"
    sources:
      {{ "packaging"|pip_add_group }}
      {{ "setuptools"|pip_add_group }}
      {{ "scikit-build"|pip_add_group }}
      {{ "pybind11"|pip_add_group }}
      {{ "hatchling"|pip_add_group }}
      {{ "flit"|pip_add_group }}
      - {{ explorerscript_ref }}
      - type: file
        url: https://files.pythonhosted.org/packages/5f/a0/1f70c34a96dcb0acf428319e83655e92ab2955d73a33f711852a5fb79681/igraph-0.11.6.tar.gz
        sha256: 837f233256c3319f2a35a6a80d94eafe47b43791ef4c6f9e9871061341ac8e28
      - type: file
        url: https://files.pythonhosted.org/packages/24/99/4772b8e00a136f3e01236de33b0efda31ee7077203ba5967fcc76da94d65/texttable-1.7.0-py2.py3-none-any.whl
        sha256: 72227d592c82b3d7f672731ae73e4d1f88cd8e2ef5b075a7a7f01a23a3743917
      - type: patch
        path: patches/explorerscript_antlr_offline.patch

  - requirements-skytemple-randomizer.json

  - name: randomizer
    buildsystem: simple
    build-commands:
      # No build isolation so we don't have to rebuild PyGObject. It's only needed for building the UI files from Blueprint files.
      - pip3 install --verbose --no-build-isolation --exists-action=i --no-index --find-links="file://${PWD}/links" --prefix=${FLATPAK_DEST} --no-deps '.[gtk]'
      # Icons
      - install -Dm644 skytemple_randomizer/data/icons/hicolor/16x16/apps/skytemple_randomizer.png /app/share/icons/hicolor/16x16/apps/org.skytemple.Randomizer.png
      - install -Dm644 skytemple_randomizer/data/icons/hicolor/32x32/apps/skytemple_randomizer.png /app/share/icons/hicolor/32x32/apps/org.skytemple.Randomizer.png
      - install -Dm644 skytemple_randomizer/data/icons/hicolor/64x64/apps/skytemple_randomizer.png /app/share/icons/hicolor/64x64/apps/org.skytemple.Randomizer.png
      - install -Dm644 skytemple_randomizer/data/icons/hicolor/128x128/apps/skytemple_randomizer.png /app/share/icons/hicolor/128x128/apps/org.skytemple.Randomizer.png
      - install -Dm644 skytemple_randomizer/data/icons/hicolor/256x256/apps/skytemple_randomizer.png /app/share/icons/hicolor/256x256/apps/org.skytemple.Randomizer.png
      - install -Dm644 skytemple_randomizer/data/icons/hicolor/512x512/apps/skytemple_randomizer.png /app/share/icons/hicolor/512x512/apps/org.skytemple.Randomizer.png
      # Runner
      - install -Dm755 run.sh /app/bin/run.sh
      # Desktop file, appstream
      - sed -i "s/Exec=.*/Exec=\/app\/bin\/run.sh/g" org.skytemple.Randomizer.desktop
      - install -Dm644 org.skytemple.Randomizer.desktop /app/share/applications/org.skytemple.Randomizer.desktop
      - install -Dm644 org.skytemple.Randomizer.appdata.xml /app/share/metainfo/org.skytemple.Randomizer.appdata.xml
    sources:
      - {{ skytemple_randomizer_ref }}
      - type: file
        path: assets/run.sh
