include skytemple_randomizer/frontend/gtk/widgets/*.blp
include skytemple_randomizer/frontend/gtk/*.css
graft skytemple_randomizer/data
include skytemple_randomizer/py.typed
graft _custom_build
graft blueprint-compiler
include build-blp-to-ui.ps1
include build-blp-to-ui.sh
