ndspy==3.0.0
git+git://github.com/skytemple/skytemple-files@master#egg=skytemple_files
git+git://github.com/skytemple/skytemple-icons@main#egg=skytemple_icons
pygobject==3.36.0
explorerscript==0.1.0
PyYAML==5.4.1
jsonschema==4.1.2
packaging
types-PyYAML
