<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">

    <title>SkyTemple Randomizer</title>
    <meta name="description"
          content="Randomizer to randomize the ROM of Pokémon Mystery Dungeon Explorers of Sky (EU/US)">
    <meta name="author" content="Parakoopa">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="SkyTemple Randomizer">
    <meta property="og:description"
          content="Randomizer to randomize the ROM of Pokémon Mystery Dungeon Explorers of Sky (EU/US)">
    <meta property="og:site_name" content="SkyTemple Randomizer">
    <meta property="og:locale" content="en_US">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://randomizer.skytemple.org">
    <meta property="og:image" content="https://skytemple.org/images/logo.png">

    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
    <meta name="theme-color" content="#2f343f">
    <link rel="stylesheet" href="/modules/material-icons/iconfont/material-icons.css">
    <link rel="stylesheet" href="/modules/material-icons/css/material-icons.min.css">
    <style type="text/css">body {margin: 0; background-color: #383c4a;}</style>
    <link rel="stylesheet" href="/static/dist/bundle.css">
</head>
<body>
<div id="root"></div>
<script>
    window.loadedConfig = JSON.parse({% raw json_encode(default_randomizer_config) %});
    window.helpTexts = JSON.parse({% raw json_encode(help_texts) %});
</script>
<script src="/static/dist/bundle.js"></script>
{% for script in additional_scripts %}
<script src="{{ script }}"></script>
{% end %}
</body>
</html>
